<div class="container-animated-background h-100 w-100 position-relative m-0 p-0">
    <ul class="circles position-absolute t-0 w-100 h-100 overflow-hidden">
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
        <li class="position-absolute d-block list-unstyled"></li>
    </ul>
    <div class="position-relative w-100 h-100">
        <div class="col">
            <app-header></app-header>
        </div>
        <div class="col">
            <ng-content></ng-content>
        </div>
        <div class="col">
            <app-footer></app-footer>
        </div>
    </div>
</div>