<app-layout-master>
    <div class="w-100 d-block" style="background-color: transparent;">
        <div class="col w-100 banner">
            <img src="../../../../assets/img/banner.jpg" class="h-100 w-100">
        </div>
        <div class="w-75 m-auto d-flex mt-lg-5 mt-md-5 mt-sm-5 mt-3 mb-5 container-information flex-lg-row flex-md-column-reverse flex-sm-column-reverse flex-column-reverse">
            <div class="col-7 container-home-info bg-black mt-lg-0 mt-md-5 mt-sm-5 mt-4">
                <p class="text-white">hello content</p>
            </div>
            <div class="col-1"></div>
            <div class="col-4 container-home-info">
                <app-genres-menu></app-genres-menu>
            </div>
        </div>
    </div>
</app-layout-master>